<div class="all">
   {{#each reviews}}
    <div class="each_review">
        <div class="location">location: {{this.location_name}} </div>
        <div class="place_reviewed">place reviewed: {{this.place}} </div>
        <img class="review_image" src="{{this.img_url}}" width="100%" height='40%' alt="">
        <div class="who_reviewed">by: {{this.user_fname}} {{this.user_lname}}</div>
        <div class="review_by_user">review: {{this.review}} </div>

        <button class='btn'><a class="click" href="/edit/{{this.location_id}}">Edit Review</a></button>
    </div>
{{/each}}

</div>
<script src="/js/my_reviews.js"></script>
